<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pct</string>
				<string>PCT</string>
				<string>pict</string>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PICT.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/pict</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>IconParty PICT image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rsrc</string>
				<string>RSRC</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rsrc.icns</string>
			<key>CFBundleTypeName</key>
			<string>IconParty resource file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>rsrc</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ico</string>
				<string>ICO</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ico.icns</string>
			<key>CFBundleTypeName</key>
			<string>IconParty Icon file(for Windows)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ICO</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>icns</string>
				<string>ICNS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icns.icns</string>
			<key>CFBundleTypeName</key>
			<string>IconParty Icon file(for Mac OS X)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>icns</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
				<string>PNG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PNG.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>IconParty PNG image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>IconParty</string>
	<key>CFBundleGetInfoString</key>
	<string>IconParty 1.30b3 (c) 2002-2014, naoki iimura</string>
	<key>CFBundleIconFile</key>
	<string>IconParty.icns</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IconParty</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>IconParty 1.30b3</string>
	<key>CFBundleSignature</key>
	<string>Ipty</string>
	<key>CFBundleVersion</key>
	<string>1.30</string>
	<key>NSPrincipalClass</key>
	<string></string>
</dict>
</plist>
