<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Japanese</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pict</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>131</string>
			<key>CFBundleTypeName</key>
			<string>IconParty pict file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>133</string>
			<key>CFBundleTypeName</key>
			<string>IconParty png file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>icns</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>136</string>
			<key>CFBundleTypeName</key>
			<string>IconParty icns file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>icns</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rsrc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>130</string>
			<key>CFBundleTypeName</key>
			<string>IconParty resource file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>rsrc</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ico</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>137</string>
			<key>CFBundleTypeName</key>
			<string>Windows icon file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ICO</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dlib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>132</string>
			<key>CFBundleTypeName</key>
			<string>IconParty dot library file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>iPat</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>blnd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>134</string>
			<key>CFBundleTypeName</key>
			<string>IconParty blend paltte file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>iBld</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>volume</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>volume</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>****</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>IconParty</string>
	<key>CFBundleGetInfoString</key>
	<string>IconParty 1.20</string>
	<key>CFBundleIconFile</key>
	<string>128</string>
	<key>CFBundleIdentifier</key>
	<string>IconParty</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>IconParty 1.20 (c) 1997-2002 naoki iimura</string>
	<key>CFBundleName</key>
	<string>IconParty</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.20</string>
	<key>CFBundleSignature</key>
	<string>Ipty</string>
	<key>CFBundleVersion</key>
	<string>1.20</string>
	<key>LSRequiresClassic</key>
	<true/>
	<key>NSApplescriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>(c) 1997-2002 naoki iimura</string>
</dict>
</plist>
